<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p > I live in Darmstadt (Rhine-Main Region / Germany) </p>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>OS</h4>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-apple-plain"></i>
      <i class="devicon-windows8-original"></i>
      <p>I develop applications for all popular desktop operating systems. I'm familiar with cross plattform and mobil-webapp development.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <p>I hacked for a lot of C++/Qt desktop applications. Furthermore I do bash scripting, HTML/CSS & JS and I have a lot of Python experience.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-travis-plain"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-vscode-plain"></i>
      <p>I master a lot of tools: Qt-Creator, Visual Studio, Eclipse, Git, Svn, Jenkins-CI, Docker, AWS and ... I'm an expert in automation & DevOps ;)</p>
    </div>
  </div>
</div>
