<h2>Academical Education</h2>
I studied in germany Optoelectronics & Imageprocessing at <a href="https://www.h-da.de/">h_da</a>. Did two degrees:  
<ul>
  <li>2006: Dipl. Ing. (Fh)</li>
  <li>2011: M.Sc.</li>
</ul>

<p>Besides working in the industry as software developer with image processing based applications and hardware. Mostly developed C++/Qt desktop applications for hardware devices such as 3D scanners, optical wavefront sensors and analogue film scanners. Image, audio and signal prosessing is what I'm into ...</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mxklb/mxklb.github.io">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://mxklb.github.io/">Homepage</a>
  </li>
</ul>
