<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="iot-sensors" src="{{ "/assets/img/systel.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> IoT Sensing Solutions </h5>
      <p>Actually I work for <a target="_blank" href="https://www.dbsystel.de/dbsystel">DB Systel GmbH</a> as a Software & DevOps Engineer. I work as a deployment and backend engineer for IoT based monitoring solutions. We enable customers to publish IoT sensor data into DB infrastructure for <a target="_blank" href="https://digitale-schiene-deutschland.de/en/news/2022/digital-twin">digital twin</a> applications as a part of <a target="_blank", href="https://digitale-schiene-deutschland.de/en">DSD</a>. I was also part of a team that developed solutions for AI driven predictive maintenance based on acoustic infrastructure monitroring.</p>
      <a class="project-link" target="_blank" href="https://www.youtube.com/watch?v=W4nzRch4d-o">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="film-deck" src="{{ "/assets/img/filmdeck.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Analogue Film Digitalization </h5>
      <p>I maintained the software of the analogue film scanner <a target="_blank" href="https://dft-film.com/products/scanity-hdr/">Scanity</a> for several years. This included a lot of application and infrastructure modernization (DevOps). A custom jenkins CI pipeline with specialized linux & windows slaves, issue tracking, scm modernization, release management and packaging were essential parts of my work. Besides fixing issues and implementing some new features.</p>
      <a class="project-link" target="_blank" href="http://www.dft-film.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="adaptive-optics" src="{{ "/assets/img/aobv.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Adaptive Optical Image Processing </h5>
      <p>I programmed some software parts of a research project at the university of applied science <a target="_blank" href="https://www.h-da.de/">h_da</a>. Main purpose of the optical system is to measure wavefront aberrations of the human eye, while correcting them in real time with an adaptive optical mirror using a closed loop algorithm. Finally we published a <a target="_blank" href="http://journals.lww.com/optvissci/Abstract/2016/07000/Transient_Ocular_Wavefront_Data_in_Type_1_Diabetes.17.aspx">case report</a>, detecting eye aberration changes during diabetes treatment with the system.</p>
      <a class="project-link" target="_blank" href="http://www.fbmn.h-da.de/uploads/Forschung/Forschung.ProjektePoster2008-Blendowske.pdf">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="cadcam" src="{{ "/assets/img/cadcam.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Structured-light 3D Scanner </h5>
      <p>I was part of the development for a <a target="_blank" href="http://www.zirkonzahn.com/us/cad-cam-systems/our-cad-cam-systems">zirkonzahn</a> cad-cam system. I did some optical design as well as optical component layout. Additionally I did a lot of coding and some software architectural parts. Mainly I optimized 3D capture routines and implemented early UI prototypes according to customer design specs. Furthermore I did some third party RPC integrations for the scanner API.</p>
      <a class="project-link" target="_blank" href="http://www.polymetric.de">Check it out</a>
    </div>
  </div>
</div>
