<div class="container">
  <div class="user-details">
    <h3> Personal Proposal </h3>
    <ul style="list-style-type:disc">
      <li>A creative engineer with enthusiasm</li>
      <li>Clean, structured and re-usable source code</li>
      <li>Precise and issue related code change tracking</li>
      <li>Excellent documentation in portable formats</li>
      <li>Continuous integration and stable deployments</li>
      <li>Topical modernization and cloud migrations</li>
      <li>DevOps and infrastructure modernization</li>
    </ul>
    <p> {{site.user_quote}} </p>
    <h5> Workload & Conditions </h5>
    <p> Actual availability is {{site.user_available}} hours / week </p>
    <p> Minimum amount of salery is {{site.user_salery}} &euro; / hour (tbd) </p>
    <a class="request-link" href="mailto:{{site.email}}">Make a bid</a>
  </div>
</div>
